body {
   background-image: url("tch.jpg");
  background-size:cover;
}   

.Login {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5)
}


h1 {
    padding: 0;
    margin: 0;
    font-size: 5vw;
    font-style:italic;
    color: #000;
}
h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.Password, .Username, .Submit {
    width: 100%;
    margin-bottom: 20px;
}

.Username, .Password {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font: 16px;
    background-color: transparent;
}

::placeholder {
    color: rgba(255,255,255,5);
}

.Submit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: rgb(255,9,9);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.Submit:hover {
    background-color: grey;
}
.Register {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: white;
    background-color: rgb(255,9,9);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.Register:hover {
    background-color: grey;
}


.btnForget {
    color: gray;
    font-weight: 700;
    text-decoration: none;
}

.btnForget:hover{
    text-decoration:underline;
}

